/* reset */

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header{
    height: 100px;
    background-color: #000000;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;

}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}

#check{
    display: none;

}

#banner{
    background-image:url(../imagenes/SP.jpg);
    padding: 0 50px;
    height: 100vh;
    background-size: cover;
    background-position: center;   
}

#banner::before{
    content: ;
    background:rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 40px;
}
.contenido-banner h3 span{
    font-weight: 600;
}


/* MEDIA */
@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;

    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
   
}

/* MAIN */

main h4{
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

main p{
    text-align: center;
    padding: 50px;
}

/* FOTO */
#yo{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#yo img{
    border-radius: 100%;
    width: 300px;
}
#yo p{
    text-align: center;
    width: 500px;
    font-size: 15px;
}
 #yo div{
    font-size: 20px;
    margin: 15px 0px;
 }

 #yo h5{
    padding: 10px;
 }

 /* firma */ 

#firma div{
    padding: 0px 50px;
    display: flex ;
    text-align:start;
    height: 0px;
    margin: 50px;
}
#firma img{
    width: 50%;
    height: 300px;
}

#firma div p{
    font-size: 18px;
}

#firma h6{
    margin: 50px;
    font-size: 50px;
    font-weight: 200;
    padding: 8vh;
}

#icono{
    background-image: url(../imagenes/PIANO.jpg);
    height:90vh;
    width: 100%;
}

#contenido-icono{
    
    margin: 100px;
    text-align: center;
    padding: 90px 90px 0px 90px;
    display: flex;
    color: white;
    justify-content:space-evenly
    
    
}

#contenido-icono div{
    flex:1 ;
    margin: 20px 0px;

}

footer{
    background-color: black;
    padding: 5px;
    color: white;
    font-size: 10px;
    font-weight: 5px;
    text-align: center;

}
.ditto{
    padding: 15px;
}

/* Sobre Nosotros */

#SobreN img{
    border-radius: 100%;
    height: 35vh;
    margin: 50px;
}
#TextoF{
    padding: 10px 50px;
    margin: 50px;
    flex-direction: column;
}

/* Contacto */

.MenuContacto{
    height: 100px;
    background-color: #000000;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
   .MenuContacto a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
   
.bodyContacto{
    background-image: url(../imagenes/JAZZ.jpg);
}

form{
    width: 450px;
    margin: auto;
    background-color:rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
      min-height: 200px;
      max-height: 200px;
      max-width: 500px;
    }

    #boton{
        background: #31384A;
        color: #fff;
        padding: 20px;
    }
#boton:hover{
    cursor: pointer;
}
    
    /* SOBRE NOSOTROS */


    .contenedor{
        display: flex;
    }

    .contenedor img{
        width: 25%;
        border-radius: 100%;
        padding: 50px;
    }

    .contenedor p{
        padding: 50px;
    }

    .contenedor2{
        display: flex;
    }

    .contenedor2 img{
        width: 25%;
        border-radius: 100%;
        padding: 50px;
    }

    .contenedor2 p{
        padding: 50px;
    }

    .DittoF{

        text-align: center;
        font-size: 30px;
        padding: 30px;
        
    }


    /* BT HTML */
    .card-group{
        background-image: url(../imagenes/NOTAS.jpg);
    }

    .fondo{
        background-image: url(../imagenes/woman-g07186cb15_1280.jpg);
    }

    .h1Fondo{
        text-align: center;

    }

    .FondoE{
        display: flex;
        justify-content: center;
    }

    